
body {
    background:#31304D;
    margin: 0;
    padding: 0;

    font-family: 'Tangerine', serif;
    text-shadow: 2px 2px 2px #aaa;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0ECE5;
    max-height: 50px;
    position: fixed;
    top:0;
    width:100%;
    z-index: 1;
}
.logo {
    float: left;
    margin-left: 20px;
}

.heading {
    text-align: center;
    flex-grow: 1;
}

.dropdown {
    float: right;
    margin-right: 20px;
}
.dropbtn{
    background-color: #31304D;
    padding: 0.4rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
    color: #fff;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #31304D;
    border-radius: 0.3rem;
    border-color: #31304D;
    min-width: 85px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #B6BBC4;
}

.bg_color{
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 6px;
}
.bg_color a{
    margin: 7px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

h1.text-center.text-light {
    text-align: center;
    color: #fff;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #F0ECE5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: 20px;
    width: 100%;
    max-width: 550px;
    max-height: 560px;
    box-sizing: border-box;
    margin-top: 4rem;
    transition: transform .2s; /* Animation */
}
/* .card:hover{
    transform: scale(1.03);
} */

.card-emplist{
    background-color: #F0ECE5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin: 20px;
    width: 100%;
    max-height:560px ;
    max-width: 550px;
    box-sizing: border-box;
    margin-top: 4rem;
    transition: transform .2s; /* Animation */
}
.p-2 {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  background-color: #F0ECE5;
  
}
.p-2 header{
    position: relative;
    font-size: 20px;
    font-weight: 600 ;
    color: #333;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 10px;
}
.p-2 header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height:3px;
    width:27px;
    border-radius: 8px;
    background-color: #4070f4;
  
  }
  .p-2 form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #F0ECE5;
  }
  .fields{
    display: flex;
  align-items: center;
  flex-wrap: wrap;
  }
  form .fields .input_field{
    display: flex;
    flex-basis: calc(33.33%-10px);
    flex-direction: column;
    margin: 4px 20px;
    }
label {
    display: block;
    
    color: #333;
}
.input_field input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .input_field input:is(:focus, :valid){
    box-shadow: 0 1px 1px rgba(0,0,0,13);
  }
  .input_field input[type="date"]:valid{
    color: #333;
  }
  .input_field textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .input_field textarea:is(:focus, :valid){
    box-shadow: 0 1px 1px rgba(0,0,0,13);
  }

input[type="submit"],
input[type="reset"] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 45px;
    width:100% ;
    border: none;
    outline: none;
    color: white;
    font-weight: bolder;
    border-radius:5px ;
    margin:25px 10px;
    background-color: #31304D;
    cursor: pointer; 
}

input[type="submit"]:hover {
    background: #161A30;
}
input[type="reset"]:hover {
    background: #161A30;
}
.form_action--button{
    display: flex;
}

.list {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px 15px;
}


table.list thead>tr {
    background-color: #B6BBC4;
}
/* .list tbody tr:hover {
    background-color: #f5f5f5; 
} */
.text-light {
    color: #333;
}

.btn-success,
.btn-danger {
    display: inline-block;
    background-color: #218838;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
}

.btn-danger {
    background-color: transparent;
}
.btn-success{
  text-decoration: none;
  background-color: transparent;
}

.error-message{
    color:red;
}
.astric{
    color:red;
}
